*{
  text-align: center;
  justify-content: center;
  background-color: rgb(53, 40, 234);
  
}
button{
  width: 200px;
  height: 100px;
  font-size: xx-large;
  background-color: rgb(255, 238, 0);
  border : 5px solid black;
}
div{
 padding: 5%;
}
h1{
  font-size:  50px;
  color: white;
}
button:hover{
  background-color: rgb(204, 6, 6) ;
  color: rgb(255, 255, 254);
}
